* {/*убирает отступ от края и с верху для всего*/
    margin: 0; 
    padding: 0;
}

body{
    background-color: darkgreen;
}
nav {
    width: 100%;
    height: 100px ;
    background-color: darkblue;
}

ul{
margin-left: 60px; /*отступ от края для ссылок*/
}

ul li{
list-style: none; /*убирает точки возле ссылок*/
display: inline-block; /*что бы ссылки были в строчку, а не в столбик*/
float: left;
line-height: 100px; /*что бы текст был по центру блока, 100 px потому что блок (nav) 100px*/
}

ul li a{
display:block ; /*что бы был не только текст кликабельный но и пространство вокруг него*/
text-decoration: none;/*что бы не было подчёркиваний ссылок*/
font-size: 40;
font-family: Arial, Helvetica, sans-serif;
color: rgba(255, 255, 255, 0.993);
padding: 0 20px; /*что бы ссылки друг от дргуга были на расстоянии*/
}

ul li a:hover{ /*когда наводишь на ссылку она светится цветом, но сначала нужно прописать ul li a {
                                                                                                color:red;
                                                                                                  },а потом добавить :hover*/
                                                                                           
    color: red;
